.table-data{
    max-width: 500px;
    margin: 0 auto;
}

table{
    border-collapse: collapse;
}

td, th{
    padding: 10px;
}

img{
    border: 1px solid black;
    width: 110px;
    height: 150px;
}